.maincontainer {
    width: 100vw;
    position: relative;
  }

  .title{
    position: relative;
  }

  .fronttitle{
    width: 100vw;
    height: 5rem;
    position: absolute;
    border-top : 4px #1d1d1d solid;
    border-bottom : 4px #1d1d1d solid;
    /* padding-left:  10%; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    font-size : 5rem; 
    display: flex;
    align-items: center;
    padding-top: 10px;
  }

  .toofrontitle{
  height: 100%;
  margin-left: 10%;
  width: 100%;
  }

 .backtitle{
  position: absolute;
  height: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  
 }

 .toobacktitle{
  width: 85%;
  height: 120%;
  border-left: 4px #1d1d1d solid;
  border-right: 4px #1d1d1d solid;
 }


 .projects{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

 }

 .project{
  padding-top: 10rem;
  width: 85%; 
  padding-bottom: 60px;

  border-left: 4px #1d1d1d solid;
  border-right: 4px #1d1d1d solid;
 }

 .work{
  display: flex;
  flex-direction: column;
  gap: 5rem;
 }